nav.sign_in_user_bar {
  color: #3c763d;
  color: #fff;
  padding: 10px;
}

.user-sign-in-link {
  display: flex;
  justify-content: space-between;
}

.user-sign-in-link ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-sign-in-link ul li {
  display: inline;
  margin-right: 10px;
}

.user-sign-in-link ul li a {
  color: #fff;
  text-decoration: none;
}

.user-sign-in-link ul li.sign_out {
  margin-left: auto;
}

.user-sign-in-link ul li a:hover {
  text-decoration: underline;
}
